body {
  display: grid;
  font-family: Hind,simhei,verdana,Helvetica,sans-serif;
  font-size: 14px;
}

div.Cards {
  display: grid;
  grid-template-columns: repeat(3, 133px);  
}

div.CardG {
  margin: auto;
}

.Banner{
  width: 100%;
  height: auto;
}

.BodyFull {
  display: none;
}

@media screen and (min-width: 760px) {
  
  .BodyFull{
    display: grid;
    justify-content: center;
  }

  .BannerF img {
    height: 510px;
    object-fit: cover;
    object-position: top;
  }

  div.CardsF {
    display: grid;
    grid-template-columns: repeat(3, 133px);  
  }
  
  div.CardGF {
    margin: auto;
  }
  
  section.BodyResponsive {
    display: none;
  }
  
}
