body {
  display: grid;
  font-family: Hind,simhei,verdana,Helvetica,sans-serif;
  font-size: 14px;
}

.cards-resp {
  display: grid;
  grid-template-columns: repeat(3, 133px); 
   
}
.cards-resp img {
  width: 132px; 
  margin: auto; 
}

.card-resp img {
  width: 120px;
  margin: auto;
}

.banner{
  width: 100%;
  height: auto;
}

.body-full {
  display: none;
}

@media screen and (min-width: 760px) {
  
  .body-full {
    display: grid;
    justify-content: center;
  }

  .body-full h3 {
    font-size: 18px;
  }

  .body-full h4 {
    font-size: 16px;
  }

  .banner-full img {
    height: 510px;
    object-fit: cover;
    object-position: top;
  }

  .cards-full {
    display: grid;
    grid-template-columns: repeat(3, 300px); 
    gap: 50px; 
  }
  .cards-full img {
    width: 300px;
    margin: auto; 
  }
  
  .card-full {
    margin: auto;
  }

  .card-full img {
    width: 150px;
    margin: auto; 
    
  }
  
  section.body-responsive {
    display: none;
  }
  
}
