.filter-container {
    display: inline-flex;
    gap: 20px;
    padding: 10px;
    font-size: 15px;
    font-weight: 300;
    background-color: azure;
    border-radius: 20px;
    margin-top: 15px;
}

.filter-container input {
    margin: 0%;
}

.radio-filter {
    display: flex;
    gap: 5px;
}

input[type="radio" i] {
    cursor: pointer;
}