.list-container ul {
    border: 1px;
    border-style: groove;
    margin-left: 250px;
    margin-right: 250px;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    color: #FFFF;
    backdrop-filter: blur(80px);
    font-weight: 300;
}