.loader-container {
    display: grid;
    min-height: 100vh;
    place-items: center;
}

h1, p {
    color: #FFFF;
    text-align: center;
}

.container-img {
    width: 100%;
    height: 400px;
    border-radius: 20px;   
}

.all-container {
    width: 500px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {    
    --r1: 154%;
    --r2: 68.5%;
    width: 180px;
    aspect-ratio: 1;
    border-radius: 50%; 
    background:
      radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#fff 80%),
      radial-gradient(var(--r1) var(--r2) at bottom,#fff 79.5%,#0000 80%),
      radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#fff 80%),
      #bad605;
    background-size: 50.5% 220%;
    background-position: -100% 0%,0% 0%,100% 0%;
    background-repeat:no-repeat;
    animation: l9 2s infinite linear;
  }
  @keyframes l9 {
      33%  {background-position:    0% 33% ,100% 33% ,200% 33% }
      66%  {background-position: -100%  66%,0%   66% ,100% 66% }
      100% {background-position:    0% 100%,100% 100%,200% 100%}
  }

  @media screen and (max-width: 640px) {
    .loader-container {
        display: grid;
        min-height: 100vh;
        place-items: center;
    }
    
    h1, p {
        color: #FFFF;
    }
    
    .container-img {
        width: 100%;
        height: 400px;
        border-radius: 20px;   
    }
    
    .all-container {
        width: 250px;
    }
    
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .loader {    
        --r1: 154%;
        --r2: 68.5%;
        width: 180px;
        aspect-ratio: 1;
        border-radius: 50%; 
        background:
          radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#fff 80%),
          radial-gradient(var(--r1) var(--r2) at bottom,#fff 79.5%,#0000 80%),
          radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#fff 80%),
          #bad605;
        background-size: 50.5% 220%;
        background-position: -100% 0%,0% 0%,100% 0%;
        background-repeat:no-repeat;
        animation: l9 2s infinite linear;
      }
      @keyframes l9 {
          33%  {background-position:    0% 33% ,100% 33% ,200% 33% }
          66%  {background-position: -100%  66%,0%   66% ,100% 66% }
          100% {background-position:    0% 100%,100% 100%,200% 100%}
      }
  }