.full {
  display: flex;
  align-items: center;
}

div.right {
    --rem: 16;
    font-family: hind,simhei,verdana,Helvetica,sans-serif;
    font-size: 12px;
    display: flex;
    position: absolute;
    right: 25px;
    top: 34px;
    z-index: 10;
    align-items: center;
}

div.left {
    display: flex;   
    gap: 20px;
    margin: 8px 18px;
}

h4 {
    font-family: Hind,simhei,verdana,Helvetica,sans-serif;;
    font-size: 18px;
    font-weight: normal;
}

#Guia {
    --rem: 16;
    font-family: hind,simhei,verdana,Helvetica,sans-serif;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -.2px;
    margin-right: 20px;
}

#Publish {
    --rem: 16;
    font-family: hind,simhei,verdana,Helvetica,sans-serif;
    text-decoration: none;
    background: #2f2f2f;
    border-radius: 17px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 33px;
    line-height: 35px;
    text-align: center;
    vertical-align: top;
    width: 104px;
}

#Sesion {
    --rem: 16;
    font-family: hind,simhei,verdana,Helvetica,sans-serif;
    text-decoration: none;
    background: #fff;
    border: 1px solid #b4b4b4;
    border-radius: 17px;
    color: #838383;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 31px;
    line-height: 33px;
    margin-left: 7px;
    text-align: center;
    vertical-align: top;
    width: 102px;
}

#Search {
    --rem: 16;
    font-family: hind,simhei,verdana,Helvetica,sans-serif;
    font-size: 12px;
    color: #000;
    text-decoration: none;
    background-color: transparent;
    background-image: url(https://webtoons-static.pstatic.net/image/static/pc/sprite/sp_webtoon_838a1cd1.png);
    background-size: 1315px 1279px;
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    vertical-align: top;
    white-space: nowrap;
    background-repeat: no-repeat;
    background-position: -37px -1220px;
    height: 33px;
    width: 33px;
    margin-left: 18px;
}

a {
    font-family: Hind,simhei,verdana,Helvetica,sans-serif;;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    text-decoration-color: black;
}

div.top {
    display: none;
}

div.bottom {
    display: none;
}

@media screen and (max-width: 1024px) {
    .responsive {
        display: grid;
        margin: 14px 18px;
        justify-items: center;
        gap: 20px;
    }

    div.top {
    display: flex;
    gap: 540px;
    
    }

    div.bottom {
    display: flex;
    gap: 140px;
    }

    div.right {
        display: none;
    }

    div.left {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .responsive {
        display: grid;
        margin: 14px 18px;
        justify-items: center;
        gap: 20px;
    }

    div.top {
    display: flex;
    gap: 240px;
    
    }

    div.bottom {
    display: flex;
    gap: 65px;
    }

    div.right {
        display: none;
    }

    div.left {
        display: none;
    }
}
