div.olympus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

div.olympus img {
    width: 100px;
    height: 94px;
    object-fit: cover;
    object-position: top;
}

div.olympus h3 {
    font-size: 15px;
    font-weight: normal;

}

div.adv-mbl {
    display: flex;
    flex-direction: row;
    gap: 6px;
    justify-content: center;
    align-items: center;
    border: 1px solid #e5e5e5;
    border-left: 0;
    border-right: 0;
}
div.adv-mbl h3 {
    font-size: 15px;
    font-weight: normal;
}
div.adv-mbl img {
    width: 5px;
    height: 5px;
}

div.logos {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 15px;
}

div.menu-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    
}
div.menu-footer a {
    font-size: 15px;
    color: black;
    text-decoration: none;
}

div.menu-footer li {
    list-style: none;
    color: rgb(167, 167, 167);

}
div.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(114, 114, 114);
}
div.copyright p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 8px;
}