#app {
    display: grid;
    justify-content: center;
    justify-items: center;
 
}

:root {
    background-image: url('https://wallpapercave.com/wp/wp10156648.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1, h2, h3, h4 {
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #4b3c6f;
    background-color: #eeebf6;

}
