:root {
    background-image: url('../assets/background.png');
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#app {
    text-align: center;
    font-family: "Lato", sans-serif;
    color: #050505;
    margin-top: 150px;
    margin-bottom: 100px;
}

@media screen and (max-width: 765px) {

    :root {
        background-image: url('../assets/background.png');
        background-position: top;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    
    #app {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        text-align: center;
        font-family: "Lato", sans-serif;
        color: #050505;
        margin-top: 100px;
        margin-bottom: 80px;
        
    }

}