:root {
    background-image: url('../assets/background.png');
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#app {
    text-align: center;
    font-family: "Lato", sans-serif;
    color: #050505;
    margin-top: 150px;
    margin-bottom: 150px;
}