:root {
    font-family: "Mulish", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://wallpapercave.com/wp/wp10156662.png');
    background-size: cover;
}