#app {
    display: grid;
    justify-content: center;
    justify-items: center;
    background-color: #ffffff;
}

h1, h2, h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #6e68bd;
}
