section.genre {
    display: flex;
    border: 1px solid #e5e5e5;
    border-right: 0;
    border-left: 0;
    margin: auto;
    cursor: pointer;
}

.image-genre img {
    display: flex;
    margin: auto;
}

div.description-genre h4 {
    font-family: Hind,simhei,verdana,Helvetica,sans-serif;
    font-weight: normal;
    color: rgb(255, 105, 198);
    margin: 10px 10px;
} 
div.description-genre h3 {
    font-family: Hind,simhei,verdana,Helvetica,sans-serif;
    font-weight: bold;
    margin: 0px 10px;
}
