.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.form-container input {
    padding: 15px;
    width: 550px;
    border-radius: 15px;
    border-style: none;
    font-weight: 400;
    color: #222F22;
    font-size: 15px;
}

.form-container button {
    padding: 15px;
    border-radius: 15px;
    border-style: none;
    width: 90px;
    font-weight: 500;
    color: #2F2F2F;
    font-size: 15px;
    background-color: #FFFF;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0C4859;
    font-weight: 600;
    color: #FFFF;
    box-shadow: 1px 4px 8px #4a4e4a;
}

@media screen and (max-width: 765px) {
    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        font-weight: 900;
        font-size: 36px;
        color: #FFFF;
        text-shadow: 1px 4px 8px #264552;
    }
    
    .form-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    
    .form-container input {
        padding: 15px;
        width: 190px;
        border-radius: 15px;
        border-style: none;
        font-weight: 400;
        color: #222F22;
        font-size: 15px;
    }
    
    .form-container button {
        padding: 15px;
        border-radius: 15px;
        border-style: none;
        width: 70px;
        font-weight: 500;
        color: #ffff;
        font-size: 15px;
        background-color: #264552;
        cursor: pointer;
    }
}